$text-color: #ffffff;
$text-color-hover: #b1b1b1;
$text-background-gradient: -90.0deg, #ff450d 20%, #ffffff 90%, #ffffff 100%;

$dark-background: rgba(12, 14, 16, 0.350);

$border-color: rgba(152, 147, 147, 0.21);

